/node_modules
/bower_components
/public/**/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/views/*
/.vscode